/* 
   Reseta todo o layout padrão do navegador.
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;                                                /* Zerar todas as margens padrões do navegador      */
  padding: 0;                                               /* Zerar todas os espaçamentos padrões do navegador */
  border: 0;                                                /* Zerar todas as bordas padrões do navegador       */
  font-size: 100%;                                          /* Todas as fontes devem ter tamanho 100%           */
  font: inherit;                                            /* Força o navegador a usar a mesma fonte da página */
  vertical-align: baseline;                                 /* Alinhamento vertical padrão                      */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;                                           /* Transformar todos esses elementos em blocos      */
}
body {
  line-height: 1;                                           /* Altura da linha 1 = padrão                       */
}
ol, ul {
  list-style: none;                                         /* Lista sem estilo                                 */
}
blockquote, q {
  quotes: none;                                             /* Define o tipo de aspas para as citações          */
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';                                              /* Retirar todos os pseudoelementos                 */
  content: none;                                           
}
table {
  border-collapse: collapse;                                /* Grudar bordas horizontais e verticais da tabela  */
  border-spacing: 0;                                        /* Espaçamento entre bordas da tabela nulo          */
}